---
---

/* alle Farbvariablen setzen */
$color1: magenta;
$color2: blue;

/* Universalselektor */
* {
  margin: 0;
  padding: 0;
  font-weight: 300;
  line-height: 1.3;
}

body {
  margin: 0px auto;
  font-family: 'Roboto', sans-serif;
  background-color: #EDEDED;
  color: #FFF;
  max-width: 960px;
}

/* TODO: Schriften h1 bis h6 definieren */
/*
 * h1 : 72px (mobil)    |     82px
 * h2 : 35px (mobil)    |
 * h2 : 35px (mobil)    |     64px      -->> main

 * h3 : 16px (mobil)    |

 * h4 : 14px (mobil)    |     34px
 * h5 : 12px (mobil)    |
 * h6 : 08px (mobil)    |
 * p  : 15px (mobil)    |
 *
 */


h1 {
    font-size: 72px;
    line-height: 1.0;
    font-weight: 100;
}

h2 {
    font-size: 35px;
    /*line-height: 1.15;*/
    line-height: 1.0;
    font-weight: 100;
}

main h2 {
    font-size: 22px;
}

h3 {
    font-size: 16px;
}

h4 {
  font-size: 14px;
  line-height: 1.0;
  font-weight: 100;
}

h5 {
  font-size: 12px;
}

h6 {
    font-size: 8px;
}

p {
  font-size: 15px;
  margin-bottom: 20px;
}

strong {
    font-weight: 400;
}

/* Hack */
.letter-spacing {
    letter-spacing: 3px;
}

ul {
  padding-left: 15px;
  list-style-type: circle;
  margin-bottom: 20px;
}

/*
 * Header
*/
header h1 {
    text-align: center;
    padding: 60px 0px 0px 0px;
    opacity: 0;
}

header h2 {
    text-align: center;
    font-style: italic;
    padding: 10px 0px 0px 0px;
}

header h6 {
  padding: 10px 10px 10px 10px;

  writing-mode: vertical-lr;
  -webkit-writing-mode: vertical-lr;
  -ms-writing-mode: vertical-lr;
  -ms-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  float:left;
}

header {
  height: 421px;
  background-image: url(../img/header03.jpg);
  background-position: 40% top;
  background-size:960px;
  background-repeat: no-repeat;
  background-attachment:fixed;
}

/*
 * JS Effects
*/
.fade-in {
  opacity: 1;
  transition: opacity 5.5s ease;
}


/*
 * Main
*/
main {
  display: grid;
  grid-template-columns: 100%;
  grid-template-row: 15% 15% 15% 15% 15% 15%;
  grid-template-areas:
    "intro"
    "education"
    "skills-1"
    "skills-2"
    "icons"
    "contact";
}

.bckgnd {
  grid-column: 1;
  grid-row: 3/6;
  background: url('../img/bckgnd02.jpg') center no-repeat;
  z-index: -1;
}

.box-1 {
    background-color: #FFF;
    color: #000;
    padding: 40px 40px 20px 40px;
    grid-area: intro;
}

.box-2 {
  background-color: #FFF;
  color: #000;
  text-align: center;
  padding: 20px 40px 40px 40px;
    grid-area: education;
    /* grid im grid */
    display: grid;
    grid-template-columns: 100%;
    grid-template-row: 50% 50%;
    grid-template-areas:
      "picture"
      "education";
}

.education {
    grid-area: education;
}

.picture {
    grid-area: picture;
}

.picture img {
    height:200px;
    padding-bottom: 20px;
}

.box-3 {
    padding: 40px 40px 0px 40px;
    grid-area: skills-1;
}

.box-4 {
    padding: 0px 40px 20px 40px;
    grid-area: skills-2;
}

.box-5 {
    padding: 0px 40px 40px 40px;
    grid-area: icons;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-5 img {
  width: 50px;
}

.box-5 a {
    padding: 0px 10px 0px 10px;
}

.box-6 {
    padding: 40px 40px 40px 40px;
    background-color: #FFF;
    text-align: center;
    color: #000;
    grid-area: contact;
}

hr {
    margin: 40px 0px 40px 0px;
}


/*
 * Footer
*/

footer {
  background: #201e2c;
  text-align: center;
  padding: 40px 0px 40px 0px;
}

footer .footer-me {
  display: none;
}
