---
---
/* alle Farbvariablen setzen */
$color1: red;
$color2: yellow;


body {
  margin: 0 auto;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 1.3;
  background-color:#000;
  color: white;
  max-width: 960px;
}

header {
  height: 360px;
  background-image: url(../img/makeAwish.png), url(../img/header.jpg);
  background-position: center 290px, center top;
  background-size:960px, 960px;
  background-repeat: no-repeat, no-repeat;
  background-attachment:fixed, fixed;
}

main {
  background-color: $color1;
}

footer {
  background-color: $color2;
}
