<!DOCTYPE html>
<html lang="de">
<head>
  <!-- https://www.youtube.com/watch?v=t5NqX9UmPco -->
  <!-- TODO: meta Daten mit Variablen anpassen -->
  <meta charset="utf-8">
  <meta name="description" content="This website introduces {{site.name}}">
  <meta property="author" content="{{ site.name }}">
  <meta name="keywords" content="Geodesy, Medieninformatik, {{site.name}}, Programmieren, programming, GIS">
  <meta name="robots" content="index, follow">
  <meta name="viewport" content="width=device-width, initial-scale=1.0 user-scalable=yes">

  <!-- Open Graph | Used by Signal, WhatsApp, Facebook, Pinterest -->
  <meta property="og:title" content="{{ site.title }}">
  <meta property="og:description" content="This website introduces {{site.name}}">
  <!-- TODO: Bild wird nicht richtig angezeigt -->
  <!-- <meta property="og:image" content="{{site.resource}}{{site.baseurl}}/img/wave.png">-->
  <meta property="og:image" content="https://www.seo-doktor.de/upload/lexikon/canonical-tag.jpg" />

  <title>{{ site.title }}</title>
  <!-- CSS -->
  <link href="{{site.baseurl}}/css/styles.css" rel="stylesheet">
  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,500" rel="stylesheet">
</head>

<body>
  <header>
    <h6>Photo by Christopher Roller<h6>
    <h1>{{ site.name }}</h1>
    <h2>passionate GIS & web developer</h2>
  </header>

  <main>
    {{ content }}
  </main>

  <footer>
    <h5>
      Julia Ernst >> Sorauerstraße 27 >> 10997 Berlin
      Mobile: +49 170 555 6838
      E-Mail: Julia_Ernst(at)gmx.de
    </h5>
  </footer>
</body>
