<!DOCTYPE html>
<html lang="de">
<head>
  <!-- https://www.youtube.com/watch?v=t5NqX9UmPco -->
  <!-- TODO: meta Daten mit Variablen anpassen -->
  <meta charset="utf-8">
  <meta name="description" content="This website introduces {{site.name}}">
  <meta property="author" content="{{ site.name }}">
  <meta name="keywords" content="Geodesy, Medieninformatik, {{site.name}}, Programmieren, programming, GIS">
  <meta name="robots" content="index, follow">
  <meta name="viewport" content="width=device-width, initial-scale=1.0 user-scalable=yes">

  <!-- Open Graph | Used by Signal, WhatsApp, Facebook, Pinterest -->
  <meta property="og:title" content="{{ site.title }}">
  <meta property="og:description" content="This website introduces {{site.name}}">
  <!-- TODO: Bild wird nicht richtig angezeigt -->
  <!-- <meta property="og:image" content="{{site.resource}}{{site.baseurl}}/img/wave.png">-->
  <meta property="og:image" content="https://www.seo-doktor.de/upload/lexikon/canonical-tag.jpg" />

  <!-- CSS -->
  <link href="{{site.baseurl}}/css/styles.css" rel="stylesheet">
  <title>{{ site.title }}</title>
</head>

<body>
  <header class="masthead">
    <h1>default layout</h1>
  </header>

  {{ content }}

  <footer>
    <h4>footer</h4>
  </footer>
</body>
